<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    {{>header}}

    {{>nav}}
    
    <p class="para">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae pariatur ex saepe totam voluptates rem voluptate
        ipsa, nesciunt nostrum debitis provident quasi eum quis eius possimus velit incidunt quidem maxime!
    </p>

    {{>footer}}
</body>

</html>