<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/help.js"></script>
</head>
<body>
    <h1 class="mytitle">This is Contact Page</h1>
    <hr>
    <p class="para">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vitae pariatur ex saepe totam voluptates rem voluptate ipsa, nesciunt nostrum debitis provident quasi eum quis eius possimus velit incidunt quidem maxime!
    </p>
    <button type="button" onclick="help()">Click on Me For help</button>
</body>
</html>